**/node_modules
**/dist
**/.next
**/out
**/.turbo
**/coverage
**/*.tsbuildinfo
apps/server/debug
.git
.gitlab-ci.yml
**/.env
**/.env.*
!**/.env.example
.pnpm-store
**/*.log
.planning
.vscode
.idea
**/*.md
**/__tests__
**/*.test.ts
**/*.spec.ts
Dockerfile
**/Dockerfile
