# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
build/
.next/
out/

# turbo
.turbo/

# env / secrets
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# test coverage
coverage/

document/